{% extends 'base.html' %}


{% block content %} 
    <h1>
        Products Page
    </h1>
    <p>
    
        create product here: 
        <a href="{% url 'create' %}" target="_self" rel="noopener noreferrer">
            <button type="button" class="btn btn-primary" style="">
                Create Product
            </button>
        </a>
    </p>
    <p>
        {{ my_text }} <br/>
        {{ my_number}} <br/>
        {{ my_list }} <br/>

    </p>
    <ul>
    {% for item in my_list %}
        <li>
            {{ item }} <br/>
        </li>
    {% endfor %}
    </ul>
{% endblock %}